{% extends "base.html" %}

{% block title %}
Upload Picture
{% endblock %}

{% block content %}
<div class="container">
  <h1>Upload Picture</h1>
    <form method="POST" enctype="multipart/form-data">
      {{ picture_form.hidden_tag() }}
      <p>
        {{ picture_form.picture.label }}<br>
        {{ picture_form.picture(class="form-control-file") }}<br>
        {% for error in picture_form.picture.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ picture_form.title.label }}<br>
        {{ picture_form.title(size=200) }}<br>
        {% for error in picture_form.title.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ picture_form.chief_id.label }}<br>
        {{ picture_form.chief_id() }}<br>
        {% for error in picture_form.chief_id.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ picture_form.submit() }}</p>
    </form>
</div>
    
{% endblock %}
