{% extends "base.html" %}

{% block title %}
Chief Profile
{% endblock %}

{% block content %}
    <div class="profile-container d-flex justify-content-center flex-wrap">
        <div class="row">
            <div class="col-md-3"> <!-- This will be 30% wide on medium devices and above -->
                {% for picture in pictures %}
                {% if picture.title == 'Profile pix' %}
                <img src="{{ url_for('static', filename='images/' ~ picture.url) }}" class="card-img-top" alt="{{ chief.first_name }}">
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-9"> <!-- This will be 70% wide on medium devices and above -->
                <div class="profile-card">
                    <div class="card-body">
                        <h6>{{ chief.rank }}</h6>
                        <h4 class="card-title">{{ chief.first_name.upper() }} {{ chief.middle_name.upper() }} {{ chief.last_name.upper() }} <br><span style="font-size: small;">{{ chief.decorations }}</span> </h4>
                        <p style="font-size: smaller;">({{ chief.formatted_date_took_office }} - {{ chief.formatted_date_left_office }})</p>
                        <hr>
                        {% if chief.early_life %}
                        <h6>Early life</h6>
                        <p class="card-text">{{ chief.early_life }}</p>
                        <br>
                        {% endif %}

                        {% if chief.career %}
                        <h6>Career</h6>
                        <p class="card-text">{{ chief.career }}</p>
                        <br>
                        {% endif %}

                        {% if chief.personal_life %}
                        <h6>Personal life</h6>
                        <p class="card-text">{{ chief.personal_life }}</p>
                        <br>
                        {% endif %}

                        {% if chief.death_and_commemoration %}
                        <h6>Death and Commemoration </h6>
                        <p class="card-text">{{ chief.death_and_commemoration }}</p>
                        <br>
                        {% endif %}

                        {% if chief.death_and_commemoration %}
                        <h6>Death and commemoration</h6>
                        <p class="card-text">{{ chief.death_and_commemoration }}</p>
                        <br>
                        {% endif %}

                        {% if chief.character_and_personality %}
                        <h6>Character and personality</h6>
                        <p class="card-text">{{ chief.character_and_personality }}</p>
                        <br>
                        {% endif %}

                        {% if chief.influences_and_inspirations %}
                        <h6>Influences and inspiration</h6>
                        <p class="card-text">{{ chief.influences_and_inspirations }}</p>
                        <br>
                        {% endif %}

                        {% if chief.quotes_and_anecdotes %}
                        <h6>Quotes and anecdotes</h6>
                        <p class="card-text">{{ chief.quotes_and_anecdotes }}</p>
                        <br>
                        {% endif %}

                        {% if chief.references_and_sources %}
                        <h6>References and sources</h6>
                        <p class="card-text">{{ chief.references_and_sources }}</p>
                        <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="profile-container d-flex justify-content-center flex-wrap">
            {% for picture in pictures %}
            <div style="margin: 1rem;" class="col-md-3"> <!-- This will be 30% wide on medium devices and above -->
                <img src="{{ url_for('static', filename='images/' ~ picture.url) }}" class="card-img-top" alt="{{ chief.first_name }}">
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
